@import "./base.css"; /* Importa el archivo CSS base que contiene estilos comunes o globales */

/* Estilos para el contenedor principal de la aplicación */
#app {
  max-width: 1280px; /* Define un ancho máximo para el contenedor*/
  margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
  padding: 2rem; /* Agrega un espacio interno alrededor del contenido */
  font-weight: normal; /* Define el peso de la fuente*/
}

/* Estilos para enlaces */
a {
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
  color: var(--vt-c-white); /* Aplica el color definido en la variable CSS*/
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
  #app {
    display: flex; /* Aplica una distribución flexible al contenedor principal */
    flex-direction: column; /* Organiza los elementos del contenedor en una columna */
    font-size: small; /* Reduce el tamaño de la fuente*/
  }
}

/* Media query para pantallas tamaño desktop*/
@media (min-width: 1024px) {
  #app {
    display: flex; /* Aplica una distribución flexible al contenedor principal */
    flex-direction: column; /* Organiza los elementos del contenedor en una columna */
    width: 80%; /* Define el ancho del contenedor como el 80% del ancho de la pantalla */
  }
}
